<nav class="navbar navbar-default">
  <div class="container">
    <a href="https://www.github.com">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="Search" type="text">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </div>
</nav>
<div class="vcard">
  <h1 class="vard-names">>
    <span class="vcard-fullname"></span>
    <span class="vcard-username"></span>
  </h1>

  <ul class="vcard-details">
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="vcard-stats"></div>

  <div class="vcard-organizations"></div>
</div>
