<nav id="gnawbar">
  <div id="gnaw-cont">
    <a href="https://www.github.com" class="nav-link">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>

    <form class="gnawbar-search" role="search">
        <input class="gnawput" placeholder="Search Cathub" type="text">
    </form>

    <ul class="nav-links">
      <li>
        <a href="http://www.google.com" class="nav-link">Pull Requests</a>
      </li>
      <li>
        <a href="http://www.google.com" class="nav-link">Issues</a>
      </li>
      <li>
        <a href="http://www.google.com" class="nav-link">Gist</a>
      </li>
    </ul>
    
    <a href="" class="nav-link right">
      <img class="navatar" src="http://img.uvumi.com/photos/3223/small/cat-avatar.jpg"></img>
      <span class="mega-octicon octicon-triangle-down"></span>
    </a>

    <a href="" class="nav-link right">
      <span class="mega-octicon octicon-plus"></span>
      <span class="mega-octicon octicon-triangle-down"></span>
    </a>

    <a href="http://www.google.com" class="nav-link right">
      <span class="mega-octicon octicon-bell"></span>
      <span class="mega-octicon octicon-primitive-dot"></span>
    </a>




  </div>
</nav>

  <div class="main">

    <div class="container-fluid">
      <div class="row">
        <div class="vcard col-md-4">
          <h1 class="vard-names">>
            <a class="vcard-avatar" href="https://github.com/settings/profile"><img/></a>
            <span class="vcard-fullname"></span>
            <span class="vcard-username"></span>
          </h1>

          <ul class="vcard-details">
            <li>
              <span class="octicon octicon-location"></span><%= @location %></li>
            <li>
              <span class="octicon octicon-link"></span><%= @link %></li>
            <li>
              <span class="octicon octicon-clock"></span><%= @date_joined %></li>
          </ul>

          <div class="vcard-stats"></div>

          <div class="vcard-organizations"></div>
        </div>

        <div class="col-md-8"></div>
      </div>
    </div>
  </div>
