You claim to be <%= @name %>

<div class="vcard">
  <h1 class="vard-names">>
    <span class="vcard-fullname"></span>
    <span class="vcard-username"></span>
  </h1>

  <ul class="vcard-details">
    <li><span class="octicon octicon-location"></span><%= @location %></li>
    <li><span class="octicon octicon-link"></span><%= @link %></li>
    <li><span class="octicon octicon-clock"></span><%= @date_joined %></li>
  </ul>

  <div class="vcard-stats">

  </div>

  <div class="vcard-organizations">

  </div>
</div>

