You claim to be <%= @name %>

<div class="vcard">
  <h1 class="vard-names">>
    <span class="vcard-fullname"></span>
    <span class="vcard-username"></span>
  </h1>

  <ul class="vcard-details">
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="vcard-stats">

  </div>

  <div class="vcard-organizations">

  </div>
</div>

