<nav class="navbar navbar-default">
  <div class="container">
    <a href="https://www.github.com">
      <span class="mega-octicon octicon-mark-github"></span>
    </a>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="Search" type="text">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
  </div>
</nav>

<div class="main">

<div class="container-fluid">
  <div class="row">
    <div class="vcard col-md-4">
      <h1 class="vard-names">>
        <a href="https://github.com/settings/profile" class="vcard-avatar"><img /></a>
        <span class="vcard-fullname"></span>
        <span class="vcard-username"></span>
      </h1>

      <ul class="vcard-details">
        <li><span class="octicon octicon-location"></span><%= @location %></li>
        <li><span class="octicon octicon-link"></span><%= @link %></li>
        <li><span class="octicon octicon-clock"></span><%= @date_joined %></li>
      </ul>

      <div class="vcard-stats"></div>

      <div class="vcard-organizations"></div>
    </div>

    <div class="col-md-8">

    </div>
  </div>
</div>
</div>
