<p>
<<<<<<< HEAD
  <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="60" width="60">
=======
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/PEO-octocat-1.svg/200px-PEO-octocat-1.svg.png">
>>>>>>> bec411af9b25e17fe7838fcb6b63b0a74178fba5
  <label for="name_field">Name:</label>
  <input name="name"></input>
</p>
