<form action="http://github.com/user">
<p>
  <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="60" width="60">
  <p>Enter your username</p>
  <p>
    <label for="name_field">Name:</label>
  </p>
  <input name="name"></input>
</form>
