
<h1>Search for a Github User</h1>

<%= form_tag g_profile_results_path do %>
  <%=label_tag "username", "Enter username here: " %>
  <%=text_field_tag "username"  %>

  <%=submit_tag "Find User!" %>
<% end %>
