// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vcard {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  display: block;
  word-wrap: break-word;
  width: 25%;
}

.vard::after {
  display: table;
  clear: both;
  content: ""
}

.vcard a:link{
  color: #4078c0;
}
.vcard a:visited{
  color: #4078c0;
}
.vcard a:hover{
  color: #4078c0;
}

.vard-names {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2em;
}



.vcard-fullname {

}

.vcard-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}

.vcard-stat-count{
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.text-muted{
  color: #767676;
  font-weight: normal;
  font-size: 11px;
}

.vcard-avatar {

}

.avatar {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.vcard-details {
  padding: 0 0 1em 0;
  border-width: 1px 0 1px 0;
  border-color: #eee;
  list-style: none;
  line-height: 2em;
}

.vard-details > li {
  height: 1.75em;
  width: 100%;
}

.vcard-stat {
  width: 33.33%;
}

.vcard-stat:hover {
  text-decoration: none;
}

.vcard-stats::after{
  display: table;
  clear: both;
  content: ""
}

.vcard-fullname{
  font-weight: bold;
}

.vcard-details::after{
  display: table;
  clear: both;
  content: ""
}

.vcard-names::after{
  display: table;
  clear: both;
  content: ""
}

.vcard-stats {
  padding: 2em 0 2em 0;
  margin-bottom: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.vcard-stats {
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
}

.octicon {
  font-family: "octicons.eot";
}

.octicon-location::before {
  content: '\f060';
  color: #999;
  clear: left;
  margin-right: 5px;
  float: left;
}

.octicon-link {
  width: 100%;
}

.octicon-link::before {
  content: '\f05c';
  color: #999;
  margin-right: 5px;
  float: left;
  clear: right;
}

.octicon-clock::before {
  content: '\f046';
  color: #999;
  clear: left;
  margin-right: 5px;
  float: left;
}

a {
  float:left;
  font-weight:bold;
}

a:hover {
  color:'#00f';
}

a:link {
  color:black;
}

.navbar-header {
  float:left;
}

.cathub-link {
  float:left;
  height:28px;
}

.navbar-form {
  float:left;
}

.navatar {
  height:20px;
}

.container-fluid {
  height:28px;
  padding:10px;
}

.nav-links {
  list-style-type:none;
  float:left
}

.main {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 980px;
}

.org_avatar{
  height: 48px;
  width: 48px;
}

.vcard-organizations {

}

.vcard-organizations > h3 {
  font-size: 1.25em;
  font-weight: bold;
}
