// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.octicon {
  font-family: "octicons.eot";
}

.octicon-location::before {
  content: '\f060';
}

.octicon-link::before {
  content: '\f05c';
}

.octicon-clock::before {
  content: '\f046';
}

a:hover {
  color:'blue';
}

a:link {
  color:'black';
}
