.vard-names {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2em;
}

.vcard-fullname {

}

.vcard-avatar {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.vcard-details {
  padding: 1em 0 1em 0;
  border-width: 1px 0 1px 0;
  border-color: #eee;
}

.vcard-stats {
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
}

.vcard-stats {
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
}

.octicon {
  font-family: "octicons.eot";
}

.octicon-location::before {
  content: '\f060';
}

.octicon-link::before {
  content: '\f05c';
}

.octicon-clock::before {
  content: '\f046';
}

.navbar-header {
  float:left;
}

.cathub-link {
  float:left;
  height:28px;
}

.navbar-form {
  float:left;
}

.navatar {
  height:20px;
}

.container-fluid {
  height:28px;
  padding:10px;
}

.nav-links {
  list-style-type:none;
  float:left
}

.main {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 980px;
}

// Julie's styles B)


.footer{
  padding-top: 40px;
  margin: 0 auto;
  display: block;
  position: relative;
  background-color: white;
  border-top: solid #EEEEEE;
  border-width: 1px;
  height: 80px;
  width: 980px;
  text-decoration: none;
  font-size: 12px;
  color: #767676;
}

.footerspacing{
  word-spacing: 10px;
}

.leftfooter{
  position: absolute;
  left: 0;
  float: left;
}

.rightfooter{
  position: absolute;
  right: 0;
  float: right;
}

#shrink{
    position: absolute;
    margin-top: -60px;
    margin-left: 600px;
    padding: 60px;
    opacity: 0.4;
    zoom: 0.75;
    -moz-transform: scale(0.7);
    z-index: 1;
}

#shrink a:hover{
  color: black;
}

#shrink a{
  color: #767676;
}
