

.fullscreen {
  background: url(http://www.hd-wallpapersdownload.com/upload/cat-wallpaper/hd-cat-background-pics-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.loginbox{
  width: 350px;
  margin: 15% auto;
}

body {

 }

html, body {
    height: 100%;
}
