// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcard {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  display: block;
  word-wrap: break-word;
  width: 25%;
  margin-bottom: 3em;
}

.vard::after {
  display: table;
  clear: both;
  content: ""
}

.vcard a:link{
  color: #4078c0;
}
.vcard a:visited{
  color: #4078c0;
}
.vcard a:hover{
  color: #4078c0;
}

.vard-names {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2em;
}

.vcard-fullname {

}

.vcard-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}

.vcard-stat-count{
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.text-muted{
  color: #767676;
  font-weight: normal;
  font-size: 11px;
}

.vcard-avatar {

}

.avatar {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.vcard-details {
  padding: 0 0 1em 0;
  border-width: 1px 0 1px 0;
  border-color: #eee;
  list-style: none;
  line-height: 2em;
}

.vard-details > li {
  height: 1.75em;
  width: 100%;
}

.vcard-stat {
  width: 33.33%;
  float: left;
}

.vcard-stat:hover {
  text-decoration: none;
}


.vcard-fullname{
  font-weight: bold;
}

.vcard-details::after{
  display: table;
  clear: both;
  content: ""
}

.vcard-names::after{
  display: table;
  clear: both;
  content: ""
}

.vcard-stats {
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  display: inline-block;
}

.octicon {
  font-family: "octicons.eot";
}

.octicon-location {
  color: #999;
  margin-right: 5px;
  float: left;
}


.octicon-link {
  color: #999;
  margin-right: 5px;
  float: left;
}

.octicon-clock {
  color: #999;
  margin-right: 5px;
  float: left;
}

.octicon-diff-added {
  margin-right: 5px;
}

.octicon-repo-delete {
  margin-right: 5px;
}

.octicon-rss {
  margin-right: 5px;
}

.navbar-header {
  float:left;
}

.cathub-link {
  float:left;
  height:28px;
}

.navbar-form {
  float:left;
}

.navatar {
  height:20px;
}

.container-fluid {
  height:28px;
  padding:10px;
}

.nav-links {
  list-style-type:none;
  float:left
}

.main {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 980px;
}

.org_avatar{
  height: 48px;
  width: 48px;
}

.vcard-organizations {

}

.vcard-organizations > h3 {
  font-size: 1.25em;
  font-weight: bold;
}


// Julie's styles B)


.footer{
  padding-top: 40px;
  margin: 0 auto;
  display: block;
  position: relative;
  background-color: white;
  border-top: solid #EEEEEE;
  border-width: 1px;
  height: 80px;
  width: 980px;
  text-decoration: none;
  font-size: 12px;
  color: #767676;
}

.footerspacing{
  word-spacing: 10px;
}

.leftfooter{
  position: absolute;
  left: 0;
  float: left;
}

.rightfooter{
  position: absolute;
  right: 0;
  float: right;
}

#shrink{
    position: absolute;
    margin-top: -60px;
    margin-left: 600px;
    padding: 60px;
    opacity: 0.4;
    zoom: 0.75;
    -moz-transform: scale(0.7);
    z-index: 1;
}

#shrink a:hover{
  color: black;
}

#shrink a{
  color: #767676;
}

.clear {
  clear: both;
}

.repo-list {
  position: relative;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0
}

.repo-list > li {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
}

.repo-stats {
  float: right;
  margin-top: 6px;
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.repo-stats > a {
  margin-left: 8px;
  color: #888;
}

.repo-stats > a:hover {
  margin-left: 8px;
  text-decoration: none;
}


.repo-list-item {
  list-style: none;

}

.repo-list-meta {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888;
}

#gnawbar {
  height:49px;
  background:#eee;
  padding:10px 0px 10px 0px;
  margin-bottom:20px;
}

#search-input {
  font-size:28px;
}

#gnaw-cont {
  width:950px;
  margin-left:auto;
  margin-right:auto;
  color:#999;
}

nav .mega-octicon.octicon-mark-github {
  font-size:28px;
  margin-left:10px;
  margin-right:10px;
  float:left;
}

.gnawput {
  border-radius:3px;
  float:left;
  font-size:13px;
  padding:0px;
  padding-left:10px;
  margin:0px;
  width:360px;
  min-height:26px;
  border: 1px solid #ccc;
}

.gnawput:focus {
  box-shadow: 0 0 10px violet;
  border-color:violet;
}

.nav-links {
  float:left;
  display:inline;
  padding:0px;
}

.nav-links li {
  list-style-type:none;
  float:left;
  font-weight:bold;
  padding:4px 8px 4px 8px;
}

ul {
  padding:0px;
}

a.nav-link {
  text-decoration:none;
}

a.nav-link:link {
  color:black;
}

a.nav-link:visited {
  color:black;
}

a.nav-link:hover {
  color:#4078c0;
}

a.nav-link:active {
  color:black;
}

.navatar {
  height:20px;
}

a.nav-link.right {
  text-decoration:none;
  float:right;
}

a.nav-link.right:link {
  color:black;
}

a.nav-link.right:visited {
  color:black;
}

a.nav-link.right:hover {
  color:#4078c0;
}

a.nav-link.right:active {
  color:black;
}

.nav-link.right span {
  font-size:16px;
  vertical-align:middle;
}
